.contact {
    background: #121212;
    padding: 60px 0 200px 0;
  }
  .contact img {
    width: 92%;
  }
  .contact h2 {
      font-size: 45px;
      font-weight: 700;
    margin-bottom: 30px;
  }

  .contact1 button {
    
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    padding: 14px 48px;
    
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
  }

  .contact1 button span {
    z-index: 1;
    position: relative;
  }
  .contact1 button a {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }
  .contact1 button a:hover {
    color:#000;
  }
  .contact1 button::before {
    content: "";
    background: #fff;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }
  .contact1 button:hover::before {
    width: 100%;
  }
  
  